.calendar-wrapper {
  background: url('./assets/bg_calendar.jpg') no-repeat center / cover;
  height: 100vh;
  position: relative;
}
.calendar-wrapper__contents {
  background: rgba(0,0,0,0.6);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}
.calendar-wrapper__body-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.calendar-wrapper__year-month {
  color: #fff;
  font-size: 40px;
  text-align: center;
}
.calendar-wrapper__week {
  width: 100%;
}
.calendar-wrapper__week th, .calendar-wrapper__week td{
  text-align: center;
  padding: 10px;
  background: #fff;
}
.arrow-button {
  width: 20px;
  height: 20px;
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 50%;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.arrow-button:hover,
.arrow-button:focus {
  background-color: #07c;
}

.arrow-button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.arrow-button:active {
  background-color: #0064bd;
  box-shadow: none;
}